/* Para todas as páginas */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Poppins&family=Sarala:wght@700&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #193446;
    padding: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sair_btn {
    padding: 5px;
    background: #51b3ec;
    text-decoration: none;
    float: right;
    margin-right: 0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    transition-property: backgroud;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 0px;
    padding-top: 0;
    left: 0;
    background: #154563;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar a {
    color: #fff;
    display: block;
    line-height: 60px;
    text-decoration: none;
    padding-left: 25px;
    opacity: 0.5;
}

.sidebar a:hover {
    background: #51b3ec;
    padding-left: 40px;
    transition: .3s;
    opacity: 1;
}

.sidebar ion-icon{
    padding-right: 10px;
}

.content-test {
    background-image: url(../IMG/menucomp.jpg);
    background-size: cover;
    height: 100vh;
}

/* Item */

.content-item {
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #193446;
}

.edit-item ion-icon{
    color: #154563;
    font-size: 50px;
}